net.ipv4.icmp_echo_ignore_broadcasts = 1
net.ipv4.icmp_ignore_bogus_error_responses = 1
net.ipv4.tcp_syncookies = 1

net.ipv4.conf.default.send_redirects = 0
net.ipv4.conf.default.accept_redirects = 0
net.ipv4.conf.default.accept_source_route = 0
net.ipv6.conf.default.accept_redirects = 0
net.ipv6.conf.default.accept_source_route = 0
net.ipv6.conf.default.accept_ra = 0

net.ipv4.conf.all.send_redirects = 0
net.ipv4.conf.all.accept_redirects = 0
net.ipv4.conf.all.accept_source_route = 0
net.ipv6.conf.all.accept_redirects = 0
net.ipv6.conf.all.accept_source_route = 0
net.ipv6.conf.all.accept_ra = 0

{% for iface in ansible_interfaces|sort %}
net.ipv4.conf.{{ iface }}.send_redirects = 0
net.ipv4.conf.{{ iface }}.accept_redirects = 0
net.ipv4.conf.{{ iface }}.accept_source_route = 0
net.ipv6.conf.{{ iface }}.accept_redirects = 0
net.ipv6.conf.{{ iface }}.accept_source_route = 0
net.ipv6.conf.{{ iface }}.accept_ra = 0
{% endfor %}
