[Unit]
Description=cvesearch web server
After=network.target

[Service]
ExecStart=/opt/cvesearch/venv/bin/python /opt/cvesearch/web/index.py
WorkingDirectory=/opt/cvesearch
User=www-data
Group=www-data
SyslogIdentifier=cvesearch

[Install]
WantedBy=multi-user.target
